* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    object-fit: cover;
}
ul {
    list-style: none;
}
button {
    display: block;
    border: none;
    height: 35px;
    color: white;
    background-color: #193ac3;
}
.grey {
    background-color: #eeeeee;
}
input {
    padding: 0 15px;
}
input:focus {
    outline: none;
}
.flex {
    display: flex;
    align-items: center;
}
.column {
    flex-direction: column;
    align-items: unset;
}
.between {
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.wrap {
    flex-wrap: wrap;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.sm {
    display: none;
}
.logo {
    cursor: pointer;
}
.logo p {
    font-weight: bold;
    font-size: 24px;
    font-family: "rubik";
}
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 70px;
    padding: 0 5%;
    z-index: 100;
    color: white;
}
header nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header, section {
    max-width: 1400px;
    margin: 0 auto;
}
nav ul li {
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    text-transform: uppercase;
    /* font-size: 18px; */
}
.scrolling-active {
    background-color: white;
    color: black;
}
.mb {
    border-bottom: 1px solid rgb(202, 202, 202);
}
.sign-in-wrap {
    display: none;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    padding-top: 10px;
}
.sign-in-wrap ul {
    color: black;
    background-color: white;
    text-align: center;
}
.sign-in-wrap ul li {
    padding: 10px 0;
}

.mobile-nav {
    display: none;
}
.user-section p {
    margin-right: 50px;
}
.user-section i {
    font-size: 24px;
}
.user-section-wrap i {
    font-size: 25px;
}
.user-section-wrap:hover .sign-in-wrap {
    display: block;
}
.hero {
    background-color: black;
    padding: 0 !important;
}
.hero .slide {
    width: 100%;
    padding-top: 100px;
    height: 100vh;
    max-height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/sp4.jpg);
    /* opacity: 0.5; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .slide-content {
    height: 200px;
}
.hero .slide-content p {
    font-size: 48px;
    max-width: 500px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
}
.hero .slide-content button {
    width: 200px;
    height: 45px;
    background-color: #193ac3;
    color: white;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
}
.hero .owl-dots {
    display: none;
}
.hero-form {
    position: absolute;
    z-index: 90;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid#eee;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(110, 110, 110, 0.5);
}
.form-input {
    width: 50%;
    height: 40px;
    padding: 0 10px;
    border-right: 1px solid rgb(206, 206, 206);
}
.form-input:last-child {
    border-right: none;
}
.form-input input {
    max-width: 200px;
    height: 20px;
    border: none;
    padding: 0;
    font-size: 14px;
}
label {
    display: block;
    font-size: 14px;
    font-weight: bold;
}
.hero-form button {
    width: 20%;
    min-width: 150px;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(61, 61, 223);
    color: white;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.hero-form button i {
    font-size: 16px;
    color: white;
}
.hero-form i {
    margin-right: 15px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.slide-btn-wrap {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 50%);
}
.slide-btn {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 5px;
}
section {
    padding: 50px 5% 80px;
}
.section-header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}
.features {
    padding: 50px 5%;
}
.features-item {
    width: 30%;
    margin-bottom: 30px;
    line-height: 30px;
}
.features-item i{
    font-size: 20px;
}
.features-item h3 {
    margin-bottom: 10px;
}
.features-item p {
    color: #707070;
}
.type-item {
    /* width: 18%; */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(165, 165, 165);
    /* padding-bottom: 20px; */
    overflow: auto;
}
.type-item img {
    height: 150px;
    border-radius: 5px 5px 0 0;
}
.type-item p {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0;
}
.popular-item {
    /* width: 23%; */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(165, 165, 165);
}
.popular-item img {
    height: 200px;
    border-radius: 5px 5px 0 0;
}
.popular-item-text {
    padding: 10px 20px;
} 
.type-wrap .owl-next, .type-wrap .owl-prev {
    top: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(165, 165, 165);
    border: 1px solid #eee;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.type-wrap .owl-prev {
    left: 0;
    transform: translate(-50%, -50%);
}
.type-wrap .owl-prev i {
    margin-right: 3px;
}
.type-wrap .owl-next i {
    margin-left: 3px;
}
.type-wrap .owl-next {
    right: 0;
    transform: translate(50%, -50%);
}
.space-name {
    font-weight: 700;
}
.space-location {
    font-weight: 600;
    color: #505050;
}
.ratings-wrap > * {
    margin-right: 10px;
    font-size: 14px;
}
.ratings-value > p {
    font-weight: bold;
}
.ratings-wrap > p {
    font-weight: 600;
    position: relative;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 12px;
    color: #707070;
}
.ratings-wrap > p:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #707070;
}
.stars i {
    font-size: 12px;
    color: gold;
}
.stars {
    margin-right: 5px;
}
.suscribe, .add-space {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 350px;
}
.suscribe > *, .add-space > * {
    margin-bottom: 20px;
}
.suscribe > h3, .add-space > h3  {
    font-size: 30px;
}
.suscribe-input {
    height: 40px;
    width: 100%;
}
.suscribe-input input{
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: white;
    /* margin-right: -5px; */
    border: none;
}
.suscribe-input button {
    width: 100px;
    height: 100%;
}
.add-space button {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
}
.testimonials {
    padding-bottom: 50px;
}
.testimonial-item {
    max-width: 350px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px 0;
}
.testimonial-wrap {
    padding-top: 50px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.client-img {
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    margin: 0 auto;
}
.client-img img {
    border-radius: 50%;
    height: 100%;
}
.testimonial-text-wrap {
    font-size: 14px;
    justify-content: space-between;
    height: 200px;
    margin-top: 20px;
}
.client-name {
    font-weight: bold;
    width: 150px;
    margin-left: auto;
}
.type-wrap, .popular-wrap {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}
.owl-nav button {
    border: none !important;
    outline: none !important;
}
.owl-nav button:hover {
    background-color: transparent !important;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(134, 134, 134) !important;
    font-size: 60px !important;
    font-weight: bolder !important;
}
.owl-prev {
    left: 20px;
}
.owl-next {
    right: 20px;
}
footer {
    background-color: #05061b;
    color: white;
    padding: 50px;
    font-family: "roboto";
    font-size: 16px;
}
.footer-wrap {
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-wrap i {
    margin-right: 10px;
}
.footer-wrap li {
    margin: 10px 0;
}
.logo-name {
    font-size: 30px;
    font-weight: bold;
}
.contact {
    margin: 20px 0;
}
.contact p {
    margin: 10px 0;
}
.social {
    display: flex;
}
.footer-wrap form > * {
    display: block;
    margin: 5px 0;
    width: 300px;
    padding: 0 10px;
}
.footer-wrap form input {
    height: 30px;
}
.submit {
    border: none;
    color: white;
    background-color: rgb(61, 61, 223);
}
/* MEDIA QUERIES */
@media (max-width: 1150px) {
    .features-item {
        width: 48%;
    }
    header nav {
        display: none;
    }
    .mobile-nav {
        width: 100%;
        position: absolute;
        top: 70px;
    }
    .mobile-nav ul li {
        padding: 10px 0;
    }
    .hero .slide {
        max-height: 600px;
    }
}
@media (max-width: 760px) {
    .hero .slide-content p {
        font-size: 30px;
    }
    .hero .slide {
        max-height: 400px;
    }
    .hero .slide-content {
        display: none;
    }
    section {
        padding: 20px ;
    }
    .section-header {
        font-size: 24px;
        width: 80%;
        margin-bottom: 20px;

    }
    .owl-dots {
        display: none;
    }
    .user-section > p {
        display: none;
    }
    .hero-form {
        flex-direction: column;
        height: unset;
        width: 80%;
        min-width: 270px;
        max-width: 400px;
        padding: 10px;
    }
    .form-input {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    .lg{
        display: none;
    }
    .sm {
        display: block;
    }
    div.sm {
        font-size: 14px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    } 
    div.sm i {
        margin: 0;
        color: white;
    }
    .features-item {
        width: 100%;
    }
    .footer-wrap {
        flex-direction: column;
    }
}